/***************
  COLORS
****************/
$primary-color: #7a5bbe;
$dark-gradient-color: #6f4dae;
$light-gradient-color: #905db5;
$background-color: #d2d1d2;
$signup-color: #c3b4de;
$off-white-color: #f5f5f5;
$text-color: #adadad;